ion-content {
    width: 100%;
    height: auto;
    --background: #d3e7e9;

    .title {
        width: 100%;
        height: 50px;
        // padding: 2px 15px;
        text-align: center;

        p {
            font-size: 22px;
            font-weight: bold;
        }
    }

    .slide1 {
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 350px;
            height: 200px;
        }
    }

    .slide2 {
        width: 100%;
        height: 53vh;
        padding: 30px;
        overflow: auto;
        background-color: #fff;
        border-radius: 50px 50px 0px 0px;

        h1 {
            font-weight: bold;
        }

        span {
            float: right;
            a{
                text-decoration: none;
                color: #000;
            }
        }

        ion-button {
            width: 100%;
            --border-radius: 30px;
            --background: rgb(176, 153, 153);
        }

        p {
            text-align: center;

            a {
                text-decoration: none;
                color: #2e2828;
                font-weight: bold;
            }
        }
    }

    .footer {
        height: 56px;
        padding: 2px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        a {
            img {
                width: 30px;

            }
        }

    }
}