<ion-content name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <div class="title">
    <p>Bhartiye Kissan Union (Bhanu)</p>
  </div>
  <div class="slide1">
    <img src="../../../assets/img/undraw_login_wqkt-removebg-preview.png">
  </div>
  <div class="slide2">
    <h3>Login</h3>
    <ion-input label="Username" label-placement="floating" fill="outline" placeholder="Enter Email" [(ngModel)]="username"></ion-input><br>
    <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Enter password" [(ngModel)]="password"></ion-input><br>
    <span><a routerLink="/auth-panel/forgot-pwd">Forgot Password?</a></span> <br><br>
    <ion-button (click)="onSubmit()">Login</ion-button>
    <p>Not a member yet? <a href=""  routerLink="/auth-panel/registration">Sign Up</a></p>
  </div>
  <div class="footer">
    Develop By:-<a href="https://macreel.co.in/"><img src="../../../assets/macreel-new-logo.png"></a>
  </div>
</ion-content>