<ion-content>
    <ion-searchbar></ion-searchbar>
    <div class="banner">
        <img src="../../assets/politics.jpg">
    </div>
    <div class="new-member">
        <p>Our Members</p>
        <p>See all</p>
    </div>
    <div class="employees">
        <div class="emp-list">
            <div class="emp-img">
                <img src="../../../assets/pr.png">
            </div>
            <div class="emp-name">
                <b>Sandeep Kashyap</b><br>
                <span>Address:-Noida</span><br>
                <span>Pin-code:-844120</span><br>
                <span>Designation:-Teacher</span>
            </div>
        </div>
        <div class="emp-list">
            <div class="emp-img">
              <img src="../../../assets/pr.png">
            </div>
            <div class="emp-name">
                <b>Pankaj Kumar</b><br>
                <span>Address:-Noida</span><br>
                <span>Pin-code:-844120</span><br>
                <span>Designation:-Teacher</span>
            </div>
        </div>
        <div class="emp-list">
            <div class="emp-img">
              <img src="../../../assets/pr.png">
            </div>
            <div class="emp-name">
                <b>Gauravi Mauriya</b><br>
                <span>Address:-Noida</span><br>
                <span>Pin-code:-844120</span><br>
                <span>Designation:-Teacher</span>
            </div>
        </div>
        <div class="emp-list">
            <div class="emp-img">
              <img src="../../../assets/pr.png">
            </div>
            <div class="emp-name">
                <b>Rahul Singh</b><br>
                <span>Address:-Noida</span><br>
                <span>Pin-code:-844120</span><br>
                <span>Designation:-Teacher</span>
            </div>
        </div>
        <div class="emp-list">
            <div class="emp-img">
              <img src="../../../assets/pr.png">
            </div>
            <div class="emp-name">
                <b>Rupesh Singh</b><br>
                <span>Address:-Noida</span><br>
                <span>Pin-code:-844120</span><br>
                <span>Designation:-Teacher</span>
            </div>
        </div>
    </div>
    <div class="new-member">
        <p>Activity Report</p>
        <p>See all</p>
    </div>
    <ion-card>
        <ion-card-header>
          <img src="../../../assets/active.png">
        </ion-card-header>
    </ion-card>
</ion-content>
