<ion-content>
  <ion-card>
      <ion-card-content>
        Report
      </ion-card-content>
  </ion-card>
  <div class="activity">
    <span>Activity</span><br>
    <span>Summary</span>
  </div>
  <div class="find-container">
    <div class="find">Employee</div>
    <div class="find">Member</div>
    <div class="find">Active</div>
  </div>
  <!-- <div class="total-member">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>Total Member</ion-card-subtitle>
        <ion-card-content>15000</ion-card-content>
      </ion-card-header>
    </ion-card>
    <ion-card color="light">
      <ion-card-header>
        <ion-card-subtitle>Active Members</ion-card-subtitle>
        <ion-card-content>10000</ion-card-content>
      </ion-card-header>
    </ion-card>
  </div> -->
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/graph.webp">
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/active.png">
    </ion-card-header>
  </ion-card>
</ion-content>