<ion-content>
  <div class="profile">
    <div class="profile-img"></div>
    <!-- <h3>ABCD</h3> -->
  </div>
  <div class="forms">
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </div>
</ion-content>
