ion-content{
    ion-searchbar{
        --border-radius:50px
    }
    .excel-btn{
        width: 100%;
        height: auto;
        padding: 0px 10px;
    }
    display: flex;
    ion-card-title{
        font-size: 30px;
    }
    ion-card{
        display: flex;
        gap: 10px;
    }
    .activity{
        padding:0px 20px;
    }
    .report{
        padding: 0px 10px;
        .report-list{
            width: 100%;
            height: 130px;
            border-radius: 20px;
            margin-top: 10px;
            display: flex;
            padding:0px 10px;
            background-color: #f3f0ed;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateY(-5px);
            }
            .report-txt{
                width: 100%;
                height: 20vh;
                padding: 10px;
                line-height: 25px;
            }
            b{
                font-size: 15px;
            }
            span{
                font-size: 12px;
                font-family: Helvetica;
                color: rgb(52, 133, 106);
            }
        }
    }
}