ion-header {
  box-shadow: none;

  ion-toolbar {
      --background: #7cca8f;
      color: #fff;

      ion-button {
          --color: #fff;
      }
  }
}

ion-content {
  .profileBox {
      width: 100%;
      height: 200px;
      background-color: #7cca8f;
      border-radius: 0 0 50px 50px;
      position: relative;


      .profileImage {
          width: 130px;
          height: 130px;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          background-color: var(--color-white);
          position: absolute;
          right: 50%;
          top: 5%;
          transform: translate(50%, 10%);
          border: 5px solid #28a745;
          overflow: hidden;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
      }

      ion-button {
          position: absolute;
          right: 50%;
          top: 50px;
          transform: translate(75px, 50px);
          --background: #28a745;
          --background-hover: #28a745;
          --background-activated: #35b853;
          --background-focused: #2c9644;
          color: #fff;
          border: 2px solid #fff;
          --box-shadow: none;
          border-radius: 100%;
          box-sizing: content-box;
          height: auto;
      }
  }

  .account-section{
    width: 100%;
    height: auto;
    padding: 0px 15px;
    background-color:#fff;
    margin-top: 0vh;
    border-radius: 40px 40px 0px 0px;
      h4{
        font-weight: bold;
      }
      span {
        margin-top: 10px;
        font-size: 24px;
        color: #333;
        font-weight: bold;
      }
      .slide2{
        ion-input{
          --highlight-color-focused: #28a745;
        }
      }          
}

  ion-list {

      ion-input,
      ion-select {
          text-align: left;
          border-bottom: 1px solid #28a745;
          --border-color: #32a14c;
          color: #28a745;
          --border-color: #2ea048;
          --highlight-color-focused: #28a745;
          --highlight-color: #28a745;
          margin: 16px 0 3px;


          ion-icon {
              color: #28a745;
          }
      }

      p {
          color: #b30404;
          margin: 0 0 10px;
      }

  }

  ion-button {
      --background: #28a745;
      --background-hover: #35b453;
      --background-activated: #34a34e;
      --background-focused: #1ea73e;
      margin: 10px auto 30px;
      display: block;
      max-width: 300px;
      --border-radius: 50px;
      height: 45px;
  }
}