ion-content {
    --background: #d3e7e9;
    .title {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // text-align: center;
        ion-icon{
            font-size: 18px;
            font-weight: bold;
            margin-left: 30px;
        }
        p {
            font-size: 20px;
            font-weight: bold;
            position:absolute;
            margin-left: 60px;
        }
    }
    .slide1 {
        width: 100%;
        height: 29.5vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
            height: 180px;
        }

        p {
            font-size: 38px;
            color: #fff;
            margin-bottom: 30px;
        }

        span {
            font-size: 38px;
            color: #fff;
            margin-bottom: 20px; /* Optional spacing from bottom */
        }
    }

    .slide2 {
        width: 100%;
        height: 60vh;
        padding: 30px;
        overflow: auto;
        background-color: #fff;
        border-radius: 50px 50px 0px 0px;
        h1{
            font-weight: bold;
        }
        span{
            float: right;
        }
        ion-button{
            width: 100%;
            --border-radius: 30px;
            --background: linear-gradient(to right, #28a745, #218838);

        }
        p{
            text-align: center ;
            a{
                text-decoration: none;
                color: #2e2828;
                font-weight: bold;
            }
        }    
    }
    .footer{
        height: 30px;
         padding:2px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        a{
                img{
                    width: 30px;

                }
            }
        
    }
}
