<ion-content>
  <div class="title">
    <ion-icon name="arrow-back-outline" routerLink="/admin-panel"></ion-icon>
    <p>Bhartiye Kissan Union (Bhanu)</p> 
  </div>

  <div class="account-section">
    <div class="image-container" routerLink="/home/profile">
      <img src="../../../assets/profile2.jpg" alt="">
      <!-- <ion-icon name="eye-outline"></ion-icon> -->
        <span>Pankaj</span>
    </div>
    <div>
      <ion-list>
        <h5>Account</h5>
        <ion-item routerLink="/admin-panel/view-profile">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item routerLink="/admin-panel/update-pwd">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-label>Update Password</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-list>
        <h5>Information & Help</h5>
        <ion-item>
          <ion-icon name="earth-outline"></ion-icon>
          <ion-label>Contact Us</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label>About Us</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-list>
        <h5>Privacy & Terms</h5>
        <ion-item>
          <ion-icon name="document-lock-outline"></ion-icon>
          <ion-label>Privacy Policy</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Terms & Conditions</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>

      <ion-list>
        <h5>Logout</h5>
        <ion-item routerLink="/auth-panel/login">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label >Log Out</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

