<ion-content>
  <div class="title">
    <ion-icon name="arrow-back-outline" routerLink="/super-admin/profile"></ion-icon>
    <p>Profile</p> 
  </div>
  <div class="image-container" routerLink="/home/profile">
    <!-- <img src="../../../assets/profile2.jpg" alt=""> -->
    <!-- <ion-button size="small" shape="round">
      <ion-icon name="pencil"></ion-icon>
      Update Profile
    </ion-button> -->
  </div>
  <div class="account-section">
    <div class="slide2"><br>
      <h4>Personal Details</h4><br>
        <ion-input label="Fullname" label-placement="floating" fill="outline" placeholder="Enter Name"></ion-input><br> 
        <ion-input label="Date of Birth" label-placement="floating" fill="outline" placeholder="Enter D.O.B"></ion-input><br>
        <ion-input label="Mobile no." label-placement="floating" fill="outline" placeholder="Enter Mobile no."></ion-input><br>
        <ion-input label="District" label-placement="floating" fill="outline" placeholder="Enter District"></ion-input><br>
        <ion-input label="Tehsil" label-placement="floating" fill="outline" placeholder="Enter Tehsil"></ion-input><br>
        <ion-input label="Block" label-placement="floating" fill="outline" placeholder="Enter Block"></ion-input><br>
        <ion-input label="City" label-placement="floating" fill="outline" placeholder="Enter Village"></ion-input><br>
        <ion-input label="Pin Code" label-placement="floating" fill="outline" placeholder="Enter Pincode"></ion-input><br>
        <ion-input label="Occupation" label-placement="floating" fill="outline" placeholder="Enter Occupation"></ion-input><br>
        <ion-input label="Address" label-placement="floating" fill="outline" placeholder="Enter Address"></ion-input><br>
    </div>
  </div>
</ion-content>



