<ion-content>
  <ion-searchbar placeholder="Search..."></ion-searchbar>
  <div class="banner">
      <img src="../../assets/politics.jpg">
  </div>
  <div class="new-member">
      <p>Our Officers</p>
      <p>See all</p>
    </div>
    <div class="member-container">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </div>
    <div class="new-member">
      <p>Our Employee</p>
      <p>See all</p>
    </div>
    <div class="member-container">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </div>
    <div class="total-member">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Officers</ion-card-title>
          <ion-card-subtitle>15000</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content> Card Content </ion-card-content> -->
      </ion-card>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Employess</ion-card-title>
          <ion-card-subtitle>10000</ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content> Card Content </ion-card-content> -->
      </ion-card>
      <ion-card color="light">
          <ion-card-header>
            <ion-card-title>Member</ion-card-title>
            <ion-card-subtitle>100000</ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-card-content> Card Content </ion-card-content> -->
        </ion-card>
    </div>
</ion-content>