<ion-content>
    <div class="title">
      <ion-icon name="arrow-back-outline" routerLink="/home/admin-panel"></ion-icon>
      <p>Bhartiye Kissan Union (Bhanu)</p> 
    </div>
    <div class="slide1">
      <img src="../../../assets/signup.webp">
    </div>
    <div class="slide2">
      <h1>Signup</h1><br>
      <ion-input label="Fullname" label-placement="floating" fill="outline" placeholder="Enter Name"></ion-input><br> 
      <ion-input label="Date of Birth" label-placement="floating" fill="outline" placeholder="Enter D.O.B"></ion-input><br>
      <ion-input label="Mobile no." label-placement="floating" fill="outline" placeholder="Enter Mobile no."></ion-input><br>
      <ion-input label="City" label-placement="floating" fill="outline" placeholder="Enter City"></ion-input><br>
      <ion-input label="Pin Code" label-placement="floating" fill="outline" placeholder="Enter Pincode"></ion-input><br>
      <ion-input label="Occupation" label-placement="floating" fill="outline" placeholder="Enter Occupation"></ion-input><br>
      <ion-input label="Occupation" label-placement="floating" fill="outline" placeholder="Enter Occupation"></ion-input><br>
      <ion-button>Sign Up</ion-button>
      <p>Already have member yet? <a href="" routerLink="/auth-panel/login">Login</a></p>
    </div>
    <div class="footer">
      Develop By:-<a href="https://macreel.co.in/"><img src="../../../assets/macreel-new-logo.png"></a>
    </div>
    </ion-content>
  