ion-content {
    --background: linear-gradient(to right, #7cca8f, #6cc07e);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;

    ion-icon {
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
        color: #fff;
    }

    p {
        font-size: 18px;
        // font-weight: bold;
        margin-left: 20px;
        text-align: center;
        flex-grow: 1;
        color: #fff;
    }
}

.slide1 {
    width: 100%;
    height: calc(30vh - 50px); /* Adjusting height dynamically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    img {
        width: 200px;
        height: auto;
        max-width: 100%;
    }
}

.slide2 {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px 30px 0px 0px;
    overflow-y: auto;
    max-height: calc(100vh - 50px - 30vh); /* Prevents overflow on smaller screens */

    h1 {
        font-weight: bold;
    }
    ion-input{
        --highlight-color-focused: #28a745;
    }

    // ion-button {
    //     width: 100%;
    //     --border-radius: 30px;
    //     --background: linear-gradient(to right, #28a745, #218838);

    // }

    p {
        text-align: center;

        a {
            text-decoration: none;
            color: #2e2828;
            font-weight: bold;
        }
    }
}

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-top: 10px;
    font-size: 12px;
}

.footer a img {
    width: 30px;
    margin-left: 5px;
}
