<ion-content>
  <div class="title">
    <p>Bhartiye Kissan Union (Bhanu)</p> 
  </div>
  <div class="slide1">
    <img src="../../../assets/otp.png">
  </div>
  <div class="slide2">
    <h1>Enter OTP</h1>
    <div class="input_box">
      <ion-input maxlength="1" autofocus=""/>
      <ion-input maxlength="1" autofocus=""/>
      <ion-input maxlength="1" autofocus=""/>
      <ion-input maxlength="1" autofocus=""/>
      <ion-input maxlength="1" autofocus=""/>
      <ion-input maxlength="1" autofocus=""/>
    </div>
    <ion-button>Get OTP</ion-button>
    <p>Already haven't member yet? <a href="">Sign Up</a></p>
  </div>
  <div class="footer">
    <p>Develop By:-<a href="https://macreel.co.in/">Macreel Infosoft pvt. ltd</a></p>
  </div>
</ion-content>
